@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    var statusMessage = TempData["StatusMessage"] as string;
}

@section Links {
    @RenderSection("Links", required: false)
}


<div class="row">
    <div class="col-md-8">
        <partial name="_MultiLevelMenuCategory" />
    </div>
    <div class="col-md-4">
        <partial name="_SearchPartial" />
    </div>
</div>


<div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}