@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    var statusMessage = TempData["StatusMessage"] as string;
}

<partial name="_MultiLevelMenuCategory" />

<div>
    @RenderBody()
</div>

