@{
    ViewData["Title"] = "Home Page";
}

@section Links{

    <link href="~/css/search-autocomplete.css" rel="stylesheet" />
}



 <div class="slider-box owl-carousel">
        <div class="card">
            <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/cachimtrang-hinh1-247x247.webp" />
                </div>
            </div>
            <div class="details">
                <p class="profession">Cá Giống</p>
                <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                <p class="describe">
                    Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                 </p>
                <div class="social">
                    <i class="ri-facebook-circle-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    @*<i class="ri-twitter-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-dribbble-fill"></i>*@
                </div>
            </div>
            <div class="footer">
              @*  <div class="followings">
                    <p>Following</p>
                    <p class="count">56</p>
                </div>
               <div class="followers">
                    <p>Followers</p>
                    <p class="count">1m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">1k</p>
                </div>*@
            </div>
        </div>
    <div class="card">
        <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/giong-ca-be-dung.jpg" />
            </div>
        </div>
        <div class="details">
            <p class="profession">Cá Giống</p>
            <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
            <p class="describe">
                Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
            </p>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                @*<i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-dribbble-fill"></i>*@
            </div>
        </div>
        <div class="footer">
            @*<div class="followings">
            <p>Following</p>
            <p class="count">98</p>
            </div>
            <div class="followers">
            <p>Followers</p>
            <p class="count">12m</p>
            </div>
            <div class="likes">
            <p>Likes</p>
            <p class="count">0.5k</p>
            </div>*@
        </div>
    </div>
        <div class="card">
            <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/cachimtrang-hinh1-247x247.webp" />
            </div>
            </div>
            <div class="details">
                    <p class="profession">Cá Giống</p>
                    <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                    <p class="describe">
                        Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                    </p>
                    <div class="social">
                        <i class="ri-facebook-circle-fill"></i>
                        <i class="ri-instagram-fill"></i>
                        @*<i class="ri-twitter-fill"></i>
                        <i class="ri-instagram-fill"></i>
                        <i class="ri-dribbble-fill"></i>*@
                    </div>
             </div>
            <div class="footer">
                @*<div class="followings">
                    <p>Following</p>
                    <p class="count">98</p>
                </div>
                <div class="followers">
                    <p>Followers</p>
                    <p class="count">12m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">0.5k</p>
                </div>*@
            </div>
        </div>
        <div class="card">
            <div class="header">
            <div class="profile-pic">

                <img src="~/default-img/hinh1-247x247.jpg" />
            </div>
          
            </div>
            <div class="details">
                <p class="profession">Cá Giống</p>
                <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                <p class="describe">
                    Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                </p>
                <div class="social">
                    <i class="ri-facebook-circle-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    @*<i class="ri-twitter-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-dribbble-fill"></i>*@
                </div>
            </div>
            <div class="footer">
               @* <div class="followings">
                    <p>Following</p>
                    <p class="count">56</p>
                </div>
                <div class="followers">
                    <p>Followers</p>
                    <p class="count">1m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">1k</p>
                </div>*@
            </div>
        </div>
        
        <div class="card">
            <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/giong-ca-mu-den-chat-luong.jpg" />
            </div>
            </div>
            <div class="details">
                <p class="profession">Cá Giống</p>
                <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                <p class="describe">
                    Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                </p>
                <div class="social">
                    <i class="ri-facebook-circle-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    @*<i class="ri-twitter-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-dribbble-fill"></i>*@
                </div>
            </div>
            <div class="footer">
                @*<div class="followings">
                    <p>Following</p>
                    <p class="count">56</p>
                </div>
                <div class="followers">
                    <p>Followers</p>
                    <p class="count">1m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">1k</p>
                </div>*@
            </div>
        </div>

    <div class="card">
        <div class="header">
            <div class="profile-pic"><img src="~/default-img/giong-ca-chem-chat-luong-1.jpg" /></div>
        </div>
        <div class="details">
            <p class="profession">Cá Giống</p>
            <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
            <p class="describe">
                Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
            </p>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                @*<i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-dribbble-fill"></i>*@
            </div>
        </div>
        <div class="footer">
            @*<div class="followings">
                <p>Following</p>
                <p class="count">56</p>
            </div>
            <div class="followers">
                <p>Followers</p>
                <p class="count">1m</p>
            </div>
            <div class="likes">
                <p>Likes</p>
                <p class="count">1k</p>
            </div>*@
        </div>
    </div>
    <div class="card">
        <div class="header">
            <div class="profile-pic"><img src="~/default-img/giong-ca-mu-den-chat-luong.jpg" /></div>
        </div>
        <div class="details">
            <p class="profession">Cá Giống</p>
            <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
            <p class="describe">
                Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
            </p>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                @*<i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-dribbble-fill"></i>*@
            </div>
        </div>
        <div class="footer">
            @*<div class="followings">
                <p>Following</p>
                <p class="count">56</p>
            </div>
            <div class="followers">
                <p>Followers</p>
                <p class="count">1m</p>
            </div>
            <div class="likes">
                <p>Likes</p>
                <p class="count">1k</p>
            </div>*@
        </div>
    </div>
    
 </div>


@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var domain = document.getElementById("domain").value;
            $('#search-list').autocomplete({

                source: function (request, response) {
                    document.getElementById("icon-load").style.display = "block";

                    debugger
                    $.ajax({
                        url: "/Search/SearchProduct",
                        data: { "prefix": request.term },
                        dataType: "json",
                        type: "POST",
                        success: function (data) {
                            debugger
                            document.getElementById("icon-load").style.display = "none";
                            console.log(data);
                            response(data);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    })
                },
                appendTo: "#autocom-box",
                select: function (e, i) {

                    debugger

                    $("#hfProduct").val(i.item.val);
                    document.getElementById("submit-search").submit();
                },
                minLength: 1
            }).autocomplete("instance")._renderItem = function (ul, item) {

                var item = $('<div class="list_item_container d-flex flex-row bd-highlight mb-3"><div class="image-search-box"><img class="imageClass p-2 bd-highlight" src="' + item.img + '"></div><div class="label-item-search p-2 bd-highlight">' + item.name + '</div><div class="label-item-search p-2 bd-highlight">' + item.price + '</div></div>')
                return $("<li>").append(item).appendTo(ul);
            };
        });
    </script>
}