@{
    ViewData["Title"] = "Home Page";
}

 <div class="slider-box owl-carousel">
        <div class="card">
            <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/cachimtrang-hinh1-247x247.webp" />
                </div>
            </div>
            <div class="details">
                <p class="profession">Cá Giống</p>
                <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                <p class="describe">
                    Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                 </p>
                <div class="social">
                    <i class="ri-facebook-circle-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    @*<i class="ri-twitter-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-dribbble-fill"></i>*@
                </div>
            </div>
            <div class="footer">
              @*  <div class="followings">
                    <p>Following</p>
                    <p class="count">56</p>
                </div>
               <div class="followers">
                    <p>Followers</p>
                    <p class="count">1m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">1k</p>
                </div>*@
            </div>
        </div>
    <div class="card">
        <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/giong-ca-be-dung.jpg" />
            </div>
        </div>
        <div class="details">
            <p class="profession">Cá Giống</p>
            <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
            <p class="describe">
                Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
            </p>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                @*<i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-dribbble-fill"></i>*@
            </div>
        </div>
        <div class="footer">
            @*<div class="followings">
            <p>Following</p>
            <p class="count">98</p>
            </div>
            <div class="followers">
            <p>Followers</p>
            <p class="count">12m</p>
            </div>
            <div class="likes">
            <p>Likes</p>
            <p class="count">0.5k</p>
            </div>*@
        </div>
    </div>
        <div class="card">
            <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/cachimtrang-hinh1-247x247.webp" />
            </div>
            </div>
            <div class="details">
                    <p class="profession">Cá Giống</p>
                    <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                    <p class="describe">
                        Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                    </p>
                    <div class="social">
                        <i class="ri-facebook-circle-fill"></i>
                        <i class="ri-instagram-fill"></i>
                        @*<i class="ri-twitter-fill"></i>
                        <i class="ri-instagram-fill"></i>
                        <i class="ri-dribbble-fill"></i>*@
                    </div>
             </div>
            <div class="footer">
                @*<div class="followings">
                    <p>Following</p>
                    <p class="count">98</p>
                </div>
                <div class="followers">
                    <p>Followers</p>
                    <p class="count">12m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">0.5k</p>
                </div>*@
            </div>
        </div>
        <div class="card">
            <div class="header">
            <div class="profile-pic">

                <img src="~/default-img/hinh1-247x247.jpg" />
            </div>
          
            </div>
            <div class="details">
                <p class="profession">Cá Giống</p>
                <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                <p class="describe">
                    Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                </p>
                <div class="social">
                    <i class="ri-facebook-circle-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    @*<i class="ri-twitter-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-dribbble-fill"></i>*@
                </div>
            </div>
            <div class="footer">
               @* <div class="followings">
                    <p>Following</p>
                    <p class="count">56</p>
                </div>
                <div class="followers">
                    <p>Followers</p>
                    <p class="count">1m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">1k</p>
                </div>*@
            </div>
        </div>
        
        <div class="card">
            <div class="header">
            <div class="profile-pic">
                <img src="~/default-img/giong-ca-mu-den-chat-luong.jpg" />
            </div>
            </div>
            <div class="details">
                <p class="profession">Cá Giống</p>
                <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
                <p class="describe">
                    Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
                </p>
                <div class="social">
                    <i class="ri-facebook-circle-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    @*<i class="ri-twitter-fill"></i>
                    <i class="ri-instagram-fill"></i>
                    <i class="ri-dribbble-fill"></i>*@
                </div>
            </div>
            <div class="footer">
                @*<div class="followings">
                    <p>Following</p>
                    <p class="count">56</p>
                </div>
                <div class="followers">
                    <p>Followers</p>
                    <p class="count">1m</p>
                </div>
                <div class="likes">
                    <p>Likes</p>
                    <p class="count">1k</p>
                </div>*@
            </div>
        </div>

    <div class="card">
        <div class="header">
            <div class="profile-pic"><img src="~/default-img/giong-ca-chem-chat-luong-1.jpg" /></div>
        </div>
        <div class="details">
            <p class="profession">Cá Giống</p>
            <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
            <p class="describe">
                Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
            </p>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                @*<i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-dribbble-fill"></i>*@
            </div>
        </div>
        <div class="footer">
            @*<div class="followings">
                <p>Following</p>
                <p class="count">56</p>
            </div>
            <div class="followers">
                <p>Followers</p>
                <p class="count">1m</p>
            </div>
            <div class="likes">
                <p>Likes</p>
                <p class="count">1k</p>
            </div>*@
        </div>
    </div>
    <div class="card">
        <div class="header">
            <div class="profile-pic"><img src="~/default-img/giong-ca-mu-den-chat-luong.jpg" /></div>
        </div>
        <div class="details">
            <p class="profession">Cá Giống</p>
            <h2 class="card-title">GIỐNG CÁ GÁY LÙ CHẤT LƯỢNG</h2>
            <p class="describe">
                Hiệu quả mô hình nuôi giống cá mú đen. Giống cá mú đen <a href="#"> xem thêm ... </a>
            </p>
            <div class="social">
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-instagram-fill"></i>
                @*<i class="ri-twitter-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-dribbble-fill"></i>*@
            </div>
        </div>
        <div class="footer">
            @*<div class="followings">
                <p>Following</p>
                <p class="count">56</p>
            </div>
            <div class="followers">
                <p>Followers</p>
                <p class="count">1m</p>
            </div>
            <div class="likes">
                <p>Likes</p>
                <p class="count">1k</p>
            </div>*@
        </div>
    </div>
    
 </div>

