@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên xác nhận mật khẩu";
}
<div class="container">
    <div class="form-manager">
        <div class="alert alert-info">
            <h1>@ViewData["Title"]</h1>
            <p>
                Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
            </p>

        </div>
    </div>
</div>
