@page 
@model DeleteModel
@{
    ViewData["title"] = "Xóa vai trò";
    ViewData["ActivePage"] = AdminNavPages.Role;
}

@section Breadcrumb{
  
    <li class="breadcrumb-item active" aria-current="page">
        Xóa vai trò
    </li>

}

<div class="mt-5 d-md-flex justify-content-center">
    <div class="mt-5">
        <div class="card">
            <h5 class="card-header text-danger">@ViewData["title"]</h5>
            <div class="card-body">
                <form method="post">
                    @Html.HiddenFor(x => x.input.id)
                    <p class="mb-2">bạn có muốn xóa vai trò @Model.input.name ? </p>
                    <div class="mb-2">
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    </div>
                    <hr class="text-secondary" />
                    <div class="mb-2">
                        <p>
                            <a class="link-primary" asp-area="Identity" asp-page="./index" a>Quay về.</a>
                        </p>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </form>
            </div>
        </div>
    </div>
    
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}