.slider-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    -webkit-transition: all 0.2s;
}

.card {
    max-width: 22rem;
    min-width: 20rem;
    overflow: hidden;
    margin-left: .8rem;
    margin-right: .8rem;
    border: #eee solid 1px;
   
    background-color: white
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 10px 2px rgba(0, 0, 0, .06);
}

.profile-pic {
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    transition: border-radius .3s;
    background-position: center -3rem;
}

.card .header {
    width: 100%;
    height: 15rem;
   
}

.card-title {
    padding-left: 20px;
}

.profession {
    text-align: center;
}


.card .details h2 {
    font-size: 14px;
    color: #258cfb;
    margin-top: .4rem;
    letter-spacing: 1px;
}

.card .details .profession {
    margin-bottom: .4rem;
    color: rgb(0 0 0 / 35%);
}

.card .details .social {
    margin-top: .5rem;
}

.social {
    text-align: center;
    padding-bottom: 10px;
}


.card .details .social i {
    cursor: pointer;
    font-size: 1.4rem;
    margin-right: 1rem;
    transition: color .3s;
    color: rgb(0 0 0 / 55%);
}

.describe {
    margin: 0px 20px 0px 20px;
    text-align: justify;
}

.card .details .social i:hover {
    color: rgb(0 0 0 / 85%);
}

.card .footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.card .footer div {
    margin-top: 1rem;
    text-align: center;
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
    padding-right: 1.2rem;
    border-right: 1px solid rgb(0 0 0 / 40%);
}

.card .footer div:first-child {
    margin-left: 1.5rem;
    padding-right: 1.5rem;
}

.card .footer div:last-child {
    border-right: 0;
    padding-right: 1.2rem;
}

.card .footer div .count {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(0 0 0 / 80%);
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    min-height: 28rem;
    padding-top: 1rem;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.owl-dots .owl-dot {
    width: 1.8rem;
    height: 0.8rem;
    margin-left: 0.5rem;
    border-radius: 50px;
    margin-right: 0.5rem;
    border: 2px solid #258cfb !important;
}

.owl-dots .owl-dot.active {
    transition: all 0.3s;
    background-color: #258cfb;
}

.owl-item.active {
    display: flex;
    justify-content: center;
}

.profile-pic img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    height: 190px;
    margin-top: 15px;
}

.profile-pic {
    align-items: center;
    justify-content: center;
    height: 190px;
    max-width: 22rem;
    min-width: 20rem;
}
/*max-width: 22rem;
min-width: 20rem;*/

@media (max-width: 600px) {
    .card {
        max-width: 16.5rem;
        min-width: 15.5rem;
    }

    .owl-dots {
        margin-top: 20px;
    }

    .profile-pic {
        max-width: 22rem;
        min-width: 10rem;
    }

    .card .details h2 {
        font-size: 12px;
        color: #258cfb;
        margin-top: .4rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 450px) {
    .card {
        max-width: 16.5rem;
        min-width: 14.5rem;
    }

    .owl-dots {
        margin-top: 10px;
    }

    .profile-pic {
        max-width: 16.5rem;
        min-width: 14rem;
    }
}

@media (max-width: 395px) {
    .card {
        max-width: 13.8rem;
        min-width: 12.8rem;
    }

    .owl-dots {
        margin-top: 10px;
    }

    .profile-pic {
        max-width: 13.8rem;
        min-width: 12.8rem;
    }
    /*
    .describe {
        display: none;
    }*/
}

@media (max-width: 375px) {
    .card {
        max-width: 22rem;
        min-width: 18.8rem;
    }

    .owl-dots {
        margin-top: 10px;
    }

    .profile-pic {
        max-width: 22rem;
        min-width: 18.8rem;
    }
}
