@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Xóa dữ liệu cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3><i class="bi bi-trash3"></i> @ViewData["Title"]</h3>

<div class="alert alert-danger" role="alert">
    <p>
        <div>
            Xóa dữ liệu này sẽ xóa vĩnh viễn tài khoản của bạn và không thể khôi phục dữ liệu này.
        </div>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn btn-danger" type="submit">
            Xóa dữ liệu và đóng tài khoản của tôi
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
